.user-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.user-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}
